<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= message %>

    <h2><span style="color:green"> <%= username %></span> welcome to Tcc Mall</h2>
    <p>providing safe and convenient digital shopping experience</p>
    <!-- <p>Merchant ID: <span style="color:blue"></span></p> -->
    
    <form action="">
        <input type="text" name="" id="" placeholder="search for products and brands">
        <input type="search" name="" id="" value="search">
    </form>
    <hr>
    <ul>
    <li><a href="products/Computers">Computers</a></li>
    <li><a href="products/Phones">Phones</a></li>
    <li><a href="products/Tablets">Tablets</a></li>
    <li><a href="products/Printers">Printers</a></li>
    <li><a href="products/Accessories">Accessories</a></li>
    </ul>
    <a href="/login"> Merchant login</a>
    <a href="/signup">Merchant signup</a>
    <a href="/addproduct">Add product</a>
    <a href="/viewproduct"> view product</a>
    
</body>
</html>